/*-------- CORE STYLES --------*/

body {
    width: 100%;
    height: 100%;
    background: #484848;
    font-family: 'Montserrat', sans-serif;
    color: white;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
    align-items: center;
}

#container {
    position: absolute;
    left: 0;
    top: 50%;
    padding: 0 20px;
    width: 100%;
    text-align: center;
}

p {
    color: black;
}

h1 {
    text-transform: uppercase;
    font-size: 97px;
    font-weight: 700;
    letter-spacing: 0.015em;
}

h2 {
    text-align: center;
    color: #B3A369;
    padding-top: 1em;
    padding-bottom: 1em;
    font-weight: bold;
    font-size: 68px;
}

h5 {
    font-size: 28px;
    padding-top: 1em;
    animation: ease-in;
    color: #ffffff;
}

h6 {
    text-align: center;
    color: #B3A369;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-weight: bold;
    font-size: 34px;
}

.hideme {
    opacity: 0;
}

@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}

@media only screen and (min-width: 2561px) {
    #section-a {
        height: 1500px;
        background-color: white;
    }
    #section-b {
        height: 1475px;
        background-color: #484848;
    }
    .bar {
        height: 100px;
        margin-bottom: 30px;
    }
    #apps p {
        padding: 55px 2em;
    }
    .contact-icons {
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 2560px) {
    #section-a {
        height: 1500px;
        background-color: white;
    }
    #section-b {
        height: 1475px;
        background-color: #484848;
    }
    .bar {
        height: 100px;
        margin-bottom: 30px;
    }
    #apps p {
        padding: 55px 2em;
    }
    .contact-icons {
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 1999px) {
    #section-a {
        height: 1500px;
        background-color: white;
    }
    #section-b {
        height: 1475px;
        background-color: #484848;
    }
    .bar {
        height: 100px;
        margin-bottom: 30px;
    }
    #apps p {
        padding: 55px 2em;
    }
    .contact-icons {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 1192px) {
    #section-a {
        height: 1500px;
        background-color: white;
    }
    #section-b {
        height: 1250px;
        background-color: #484848;
    }
    .bar {
        height: 100px;
        margin-bottom: 30px;
    }
    #apps p {
        padding: 55px 2em;
    }
    .contact-icons {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 990px) {
    h1 {
        font-size: 75px;
    }
    h2 {
        font-size: 56px;
    }
    h5 {
        font-size: 24px;
    }
    h6 {
        font-size: 28px;
    }
    #section-a {
        height: 2400px;
        background-color: white;
    }
    #section-b {
        height: 2150px;
        background-color: #484848;
    }
    .container .project-card {
        display: block;
    }
    .bar {
        height: 90px;
        margin-bottom: 28px;
    }
    #apps p {
        padding: 50px 2em;
    }
    .contact-icons {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 53px;
    }
    h1::after {
        height: 8px;
    }
    h2 {
        font-size: 38px;
    }
    h5 {
        font-size: 18px;
    }
    h6 {
        font-size: 23px;
    }
    #section-a {
        height: 2250px;
        background-color: white;
    }
    #section-b {
        height: 1800px;
        background-color: #484848;
    }
    .container .project-card {
        display: block;
    }
    .bar {
        height: 70px;
        margin-bottom: 25px;
    }
    #apps p {
        padding: 38px 2em;
    }
    .contact-icons {
        margin-bottom: 20px;
    }
}

/*      IPHONE SECTION      */
@media only screen and (max-width: 568px) {
    #intro {
        padding: 0 10px;
    }
    h1 {
        font-size: 39px;
    }
    h1::after {
        height: 6px;
    }
    p {
        font-size: 18px;
    }
    h2 {
        font-size: 28px;
    }
    h5 {
        font-size: 15px;
    }
    h6 {
        font-size: 20px;
    }
    .btn {
        font-size: 16px;
    }
    #section-a {
        height: 2150px;
        background-color: white;
    }
    #section-b {
        height: 1475px;
        background-color: #484848;
    }
    #section-c {
        height: 150px;
    }
    .container .project-card {
        display: block;
    }
    .graph-label {
        font-size: x-small;
    }
    .project-description {
        font-size: small;
    }
    .bar {
        height: 60px;
        margin-bottom: 20px;
    }
    #apps p {
        padding: 34px 2em;
    }
    .contact-icons {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 320px) {
    h1 {
        font-size: 33px;
    }
    h1::after {
        height: 4px;
    }
    h2 {
        font-size: 22px;
    }
    h6 {
        font-size: 12px;
    }
    #section-a {
        height: 2150px;
        background-color: white;
    }
    #section-b {
        height: 1200px;
    }
    .project-card {
        display: block;
    }
    .graph-label {
        font-size: small;
    }
    .bar {
        height: 60px;
        margin-bottom: 20px;
    }
    #apps p {
        padding: 32px 2em;
    }
    .contact-icons {
        margin-bottom: 20px;
    }
}

/*-------- SECTION 0 --------*/

#particles {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#intro {
    position: absolute;
    left: 0;
    top: 50%;
    padding: 0 20px;
    width: 100%;
    text-align: center;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*-------- SECTION A --------*/

.card {
    padding-top: 1em;
    min-height: 500px;
    border-radius: 0;
    box-shadow: 5px 5px 15px #484848;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
}

.circle-icon {
    background: #ffffff;
    padding: 30px;
    border-radius: 50%;
    margin-top: -250px;
    box-shadow: 5px 5px 15px #484848;
}

.focus-icon {
    color: #B3A369;
}

.card-title {
    text-align: center;
    color: black;
    font-size: x-large;
    padding-top: 1em;
}

.card-caption {
    text-align: left;
    color: black;
    padding-top: 1em;
    font-size: large;
}

.card:hover {
    background: #484848;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 10px #B3A369;
}

.card:hover .circle-icon {
    background: #B3A369;
    border-radius: 50%;
    margin-top: -250px;
    box-shadow: 5px 5px 15px #B3A369;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
}

.card:hover .focus-icon {
    color: #484848;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
}

.card:hover .card-title {
    color: #B3A369;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
}

.card:hover .card-caption {
    color: white;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
}

.hyper-link {
    color: #B3A369;
}

.hyper-link:hover {
    text-decoration: none;
    color: #B3A369;
}

.picture {
    max-height: 300px;
    padding: 1em;
    float: right;
}

#skills {
    margin: 2em auto 0 auto;
    position: relative;
    width: 98%;
}

#apps {
    float: left;
    text-align: right;
    width: 25%;
}

#apps p {
    position: relative;
    text-align: right;
    z-index: 2;
    font-weight: bold;
}

#scale {
    padding-bottom: 30px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -30px;
}

#scale p.one { left: 24%; }
#scale p.two { left: 49%; }
#scale p.three { left: 74%; }
#scale p.four { left: 99%; }

.grid {
    border-left: 1px dotted #484848;
    border-bottom: 1px dotted #484848;
    float: left;
    padding: 10px 0;
    position: relative;
    width: 60%;
}

.bar {
    float: left;
    position: relative;
    width: 100%;
    z-index: 1;
}

.bar .inner {
    background-color: #B3A369;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
}

.bar.pct-90 .inner {
    -webkit-animation-duration: 2s;
    -webkit-animation-name: grow-90;
    right: 10%;
}

.bar.pct-60 .inner {
    -webkit-animation-duration: 3s;
    -webkit-animation-name: grow-75;
    right: 40%;
}

.bar.pct-50 .inner {
    -webkit-animation-duration: 5s;
    -webkit-animation-name: grow-50;
    right: 50%;
}

.v-divider {
    border-right: 1px dotted #484848;
    position: absolute;
    left: 0;
    right: 25%;
    bottom: 0;
    top: 0;
    z-index: 0;
}

.v-divider.one { right: 75%; }
.v-divider.two { right: 50%; }


/*-------- SECTION B --------*/

#section-b h2 {
    padding-bottom: 0.5em;
}

#section-b h3 {
    padding: 2em 1em;
    font-weight: bold;
    color: #B3A369;
}

.tile-container {
    align-content: center;
}

.project-card {
    background: #f1f1f1;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1200px;
}

.project-description {
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    line-height: 1.75;
}

.project-card:nth-child(odd) img {
    order: 1;
}

/*-------- SECTION C --------*/

#section-c {
    background-color: #ffffff;
}

#section-c h2 {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

.contact-icons {
    color: #B3A369;
    display: flex;
    padding-left: 3em;
    padding-right: 3em;
}

.icons {
    color: #B3A369;
}

.icons:hover {
    animation: bounce .5s ease-in-out;
    color: #B3A369;
}

.contact-icons.space-around {
    justify-content: space-around;
}

/*-------- ANIMATIONS --------*/

@keyframes bounce {
    0%,
    60%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-8px);
    }
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

.animatable {

    visibility: hidden;

    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}

.animated {
    visibility: visible;

    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;

    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -o-animation-play-state: running;
    animation-play-state: running;
}


